<aside class="col-md-4 hidden-sm hidden-xs">
  <h3 class="h4">Latest Offers</h3>
  <p>At Silverbirch we know that times are tough. As a result we are always looking to provide our customers with great products at even greater prices. With sensational offers all year round you are sure to pick up a bargain at Silverbirch.</p>
  <a class="btn btn-default btn-block" href="/offers/">View Offers</a> <br />
  <h3 class="h4">Follow Us</h3>
  <p>Keep up-to-date with all things Silverbirch including latest offers and upcoming events.</p>
  <ul class="follow">
    <li class="social_button">
      <a href="http://www.facebook.com/pages/Silverbirch-Garden-Centre/213552255347708" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li class="social_button">
      <a href="https://twitter.com/SBirchGC" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    <li class="social_button">
      <a href="http://instagram.com/silverbirchgardencentre" rel="nofollow" target="_blank"><i class="fa fa-instagram"></i></a>
    </li>
    <li class="social_button">
      <a href="../xml/contact.html" rel="nofollow"><i class="fa fa-info"></i></a>
    </li>
  </ul>
</aside>
