<aside>
  <h3 class="h4">Latest Offers</h3>
  <p>At Silverbirch we know that times are tough. As a result we are always looking to provide our customers with great products at even greater prices. With sensational offers all year round you are sure to pick up a bargain at Silverbirch.</p>
  <a class="btn btn-default btn-block" href="/offers/">View Offers</a> <br />
  <h3 class="h4">Follow Us</h3>
  <p>Keep up-to-date with all things Silverbirch including latest offers and upcoming events.</p>
  <ul>
    <li>
      <a href="http://www.facebook.com/pages/Silverbirch-Garden-Centre/213552255347708" rel="nofollow" target="_blank">Facebook</a>
    </li>
    <li>
      <a href="https://twitter.com/SBirchGC" rel="nofollow" target="_blank">Twitter</a>
    </li>
    <li>
      <a href="http://instagram.com/silverbirchgardencentre" rel="nofollow" target="_blank">instagram</a>
    </li>
  </ul>
</aside>
