<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="one"> <span class="back-to-top"> <img src="{{ siteurl }}/static/images/logos.png" alt="logo"> </span></div>
      </div>
    </div>
    <div class="row">
      <ul class="morenav col-md-4">
        <li>
          <a href="/privacy-policy/">Privacy</a>
        </li>
        <li>|</li>
        <li>
          <a href="/returns/">Returns</a>
        </li>
        <li>|</li>
        <li>
          <a href="/reward-card/">Reward Card</a>
        </li>
        <li>|</li>
        <li>
          <a href="/jobs/">Jobs</a>
        </li>
      </ul>
      <div class="copyright col-md-4">&copy; {{ site.time | date: '%Y' }} - Silverbirch Garden Centre</div>
      <ul class="social col-md-4">
        <li>
          <a href="http://www.facebook.com/pages/Silverbirch-Garden-Centre/213552255347708" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/SBirchGC" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="http://instagram.com/silverbirchgardencentre" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="/contact/" rel="nofollow"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
