<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="sb-subnav">
          <li class="sb-subnav__list-item">
            <a class="sb-subnav__list-link" href="/privacy-policy/">Privacy</a>
          </li>
          <li class="sb-subnav__list-item">
            <a class="sb-subnav__list-link" href="/returns/">Returns</a>
          </li>
          <li class="sb-subnav__list-item">
            <a class="sb-subnav__list-link" href="/reward-card/">Reward card</a>
          </li>
          <li class="sb-subnav__list-item">
            <a class="sb-subnav__list-link" href="/jobs/">Jobs</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="sb-copyright text-center">&copy; Silverbirch Garden Centre {{ site.time | date: '%Y' }}</p>
      </div>
      <div class="col-md-4">
        <ul class="sb-social">
          <li class="sb-social__list-item">
            <a class="sb-social__list-link" href="#">Facebook</a>
          </li>
          <li class="sb-social__list-item">
            <a class="sb-social__list-link" href="#">Twitter</a>
          </li>
          <li class="sb-social__list-item">
            <a class="sb-social__list-link" href="#">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
