<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr class="sb-footer__linebreak" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="sb-copyright">&copy; Silverbirch Garden Centre {{ site.time | date: '%Y' }}</div>
      </div>
      <div class="col-sm-6">
        <ul class="sb-footer__nav">
          <li>
            <a href="/privacy-policy/">Privacy policy</a>
          </li>
          <li>
            <a href="/returns/">Returns policy</a>
          </li>
          <li>
            <a href="/reward-card/">Reward card</a>
          </li>
          <li>
            <a href="/jobs/">Jobs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
