<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <br />
        <a href="/">
          <img class="sb-brand" src="{{ siteurl }}/static/images/sb-logo.svg" alt="Silverbirch Garden Centre" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="checkbox" name="nav-toggle" id="nav-toggle" class="visually-hidden">
        <label class="sb-navicon" for="nav-toggle">
          <span class="sr-only">Menu</span>
        </label>
        <nav class="sb-nav">
          <li class="sb-nav__item {{ page.home }}">
            <a href="/" class="sb-nav__link">Home</a>
          </li>
          <li class="sb-nav__item {{ page.about }}">
            <a href="/about/" class="sb-nav__link">About Us</a>
          </li>
          <li class="sb-nav__item {{ page.garden }}">
            <a href="/garden/" class="sb-nav__link">Garden</a>
          </li>
          <li class="sb-nav__item {{ page.interiors }}">
            <a href="/interiors/" class="sb-nav__link">Interiors</a>
          </li>
          <li class="sb-nav__item {{ page.christmas }}">
            <a href="/christmas/" class="sb-nav__link">Christmas</a>
          </li>
          <li class="sb-nav__item {{ page.coffee }}">
            <a href="/coffee-shop/" class="sb-nav__link">Coffee Shop</a>
          </li>
          <li class="sb-nav__item {{ page.contact }}">
            <a href="/contact/" class="sb-nav__link">Contact Us</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</header>
