<header>
  <div id="floating_nav" class="hidden-lg hidden-md hidden-sm">
    <ul>
      <li class="pull-left">
        <a href="/" class="left" rel="nofollow"><i class="fa fa-home"></i></a>
      </li>
      <li class="pull-right">
        <a id="showRightPush" class="right" rel="nofollow"><i class="fa fa-bars"></i></a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div id="masthead">
      <div class="row">
        <div id="logo" class="col-md-8">
          <a href="/">
            <img src="{{ siteurl }}/static/images/silverbirch_garden_centre_logo.png" alt="Silverbirch Garden Centre Logo" />
          </a>
        </div>
        <div id="contactDetails" class="col-md-4 pull-right hidden-sm hidden-xs">
          <h2 class="no_style">Silverbirch Garden Centre</h2>
          <p>Lanark Road, Crossford<br />
            ML8 5QQ<br />
            Tel: 01555 860623 </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nav id="navigation">
          <li>
            <a href="/" class="{{ page.home }}">Home</a>
          </li>
          <li>
            <a href="/about/" class="{{ page.about }}">About</a>
          </li>
          <li>
            <a href="/garden/" class="{{ page.garden }}">Garden</a>
          </li>
          <li>
            <a href="/interiors/" class="{{ page.interiors }}">Interiors</a>
          </li>
          <li>
            <a href="/christmas/" class="{{ page.christmas }}">Christmas</a>
          </li>
          <li>
            <a href="/coffee-shop/" class="{{ page.coffee }}">Coffee Shop</a>
          </li>
          <li>
            <a href="/contact/" class="{{ page.contact }}">Contact</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</header>
