<header>
  <div class="sb-masthead">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <span class="sb-branding"><a href="/">Silverbirch Garden Centre</a></span>
        </div>
        <div class="col-sm-4">
          <ul class="sb-info pull-right fa-ul">
            <li><i class="fa-li fa fa-clock-o"></i> Today  <strong>9am-6pm</strong></li>
            <li><i class="fa-li fa fa-phone"></i> 01555 860623</li>
            <li><i class="fa-li fa fa-map-marker"></i> <a href="#">Get directions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <input type="checkbox" name="navToggle" id="navToggle" class="visually-hidden">
  <label for="navToggle" class="sb-navigation--navicon">&nbsp; <i class="navicon fa fa-bars fa-lg"></i></label>
  <nav class="sb-navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="sb-navigation--links">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about/">About us</a></li>
            <li><a href="/garden/">Gardening</a></li>
            <li><a href="/interiors/">Interiors</a></li>
            <li><a href="/christmas/">Christmas</a></li>
            <li><a href="/coffee-shop/">Coffee Shop</a></li>
            <li><a href="/contact/">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
