<div class="col-md-4">
  <h3>Latest Offers</h3>
  <p>At Silverbirch we know that times are tough. As a result we are always looking to provide our customers with great products at even greater prices. With sensational offers all year round you are sure to pick up a bargain at Silverbirch.</p>
  <a href="#" class="btn btn-default">View offers</a>

  <h3>Follow Us</h3>
  <p>Keep up-to-date with all things Silverbirch including latest offers and upcoming events.</p>
  <ul>
    <li>
      <a href="#">Facebook</a>
    </li>
    <li>
      <a href="#">Twitter</a>
    </li>
    <li>
      <a href="#">instagram</a>
    </li>
    <li>
      <a href="#">Email</a>
    </li>
  </ul>
</div>
