@charset "UTF-8";

/*FORMS ------------------------------------------------------------*/

#form {
	background: #F1F1F1;
	padding: 20px;
}

/* This is the class that is added to the input fields on the form */

.error {
	border: 1px solid #C0392B;
	color: #C0392B;
}

.correct {
	border-color: #2ECC71;
	box-shadow: none;
	color: #2ECC71;
}

/* This is the class added to the text that displays the error message */

.errorText {
	color: red;
}

textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #CCC;
	text-decoration: none;
	font-size:100%;
}

#formWrap {
	background: #f7f7f7;
	padding: 20px;
	border: 1px solid #ccc;
}

/* OTHER  ------------------------------------------------------------*/

/* Image Container Styles ********************/
#headerContainer {
	background: #CCC no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	height: 200px;
	width: 100%;
	margin-bottom: 24px;
}

#mapContainer {
	width:100%;
	height:400px;
	position: relative;
	left:0;
	margin-bottom: 24px;
}

#mapContainer iframe {
	width:100%;
	height:400px;
}
