.sb-card {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  
  &__image {

  }

  &__content {
    padding: 18px 21px;
    color: #333;
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }

  &--grey {
    background-color: #f2f2f2;
  }
}
