footer {
  margin-bottom: 24px;
  font-size: 14px;
}

.sb-footer__linebreak {
  border-top: 2px solid #e5e5e5;
  margin-top: 24px;
  margin-bottom: 24px;
}

.sb-footer__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  text-align: right;

  li {
    display: inline-block;
    margin: 0 7px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-size: 14px;
  }
}
